node_modules
build
.dockerignore
Dockerfile
Dockerfile.prod
screenshots/
compares/

.git
.github
.idea
.vscode
.claude
.agents
.DS_Store
test
.eslintrc.js
LICENSE
README.md
npm-debug.log*
test-results.json
